$form-prefix-cls: "#{$css-prefix}form";
$form-item-prefix-cls: "#{$form-prefix-cls}-item";

.#{$form-prefix-cls} {
    .#{$form-item-prefix-cls}-label {
        text-align: right;
        vertical-align: middle;
        float: left;
        font-size: $font-size-small;
        color: $text-color;
        line-height: 1;
        // padding: 10px 12px 10px 0;
        padding: 10px 12px 10px 0;
        box-sizing: border-box;
        // 多余即省略
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &-label-left .#{$form-item-prefix-cls}-label {
        text-align: left;
    }
    &-label-top .#{$form-item-prefix-cls}-label {
        float: none;
        display: inline-block;
        padding: 0 0 10px 0;
    }
    &-inline{
        .#{$form-item-prefix-cls} {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
        }
    }
    &-row {
        @include clearfix();
        .#{$form-item-prefix-cls} {
            display: block;
            float: left;
            padding: 5px;
            margin: 0;
            &-required {
                .#{$form-item-prefix-cls}-requiredIcon {
                    left: -3px;
                }
            }
            &-content {
                // height: 32px; 
                line-height: 31px;

            }
        }
        .h-col {
            .#{$form-item-prefix-cls} {
                padding: 0;
                &-required {
                .#{$form-item-prefix-cls}-requiredIcon {
                    left: -9px;
                }
            }
            }
        }
        @include make-form-grid(form);
        @include make-form-grid(form,form-item);  
          
        // @include make-form-grid('form', 'formItem');
    }
}

.#{$form-item-prefix-cls} {
    margin-bottom: 24px;
    vertical-align: top;
    @include clearfix();
    &-content {
        position: relative;
        line-height: 31px;
        font-size: $font-size-small;
    }
    & & {
        margin-bottom: 0;
    }
    & & &-content {
        margin-left: 0!important;
    }

    &-error-tip{
        position: absolute;
        top: 100%;
        left: 0;
        line-height: 1;
        padding-top: 6px;
        color: $error-color;
    }

    &-required {
        position: relative;
        .#{$form-item-prefix-cls}-label:before {
            content: '*';
            display: inline-block;
            margin-right: 2px;
            line-height: 0;
            font-family: SimSun;
            font-size: $font-size-small;
            color: $error-color;
        }
        .#{$form-item-prefix-cls}-requiredIcon {
            display: inline-block;
            position: absolute;
            left: -9px;
            vertical-align: middle;
            line-height: 31px;
            height: 31px;
            color: $error-color;
            font-family: SimSun;
            font-size: $font-size-small;
        }
    }
    // &.#{$form-item-prefix-cls}-reqNoLabel{
    //     padding-right: 15px;
    // }
    &-error {
        // todo
    }
}