$modal-prefix-cls: "#{$css-prefix}modal";
$confirm-prefix-cls: "#{$css-prefix}modal-confirm";

.#{$modal-prefix-cls} {
  width: auto;
  margin: 0 auto;
  position: relative;
  outline: none;
  top: 100px;

  &-hidden {
      display: none !important;
  }

  &-wrap {
      position: fixed;
      // position:absolute;
      overflow: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // z-index: $zindex-modal;
      -webkit-overflow-scrolling: touch;
      outline: 0;
      user-select: none;
  }

  &-wrap * {
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &-mask {
    @include mask;
  }

  &-content {
      position: relative;
      background-color: #fff;
      border: 0;
      border-radius: $border-radius-base;
      background-clip: padding-box;
  }

  &-header {
    cursor:pointer;
    @include content-header;
  }

  &-close {
    @include content-close(1px, 31px);
  }

  &-body {
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
    & p {
      font-size: $font-size-small; 
    }
  }

  &-footer {
    border-top: 1px solid $border-color-split;
    padding: 12px 18px 12px 18px;
    text-align: right;
    button + button {
        margin-left: 8px;
        margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .#{$modal-prefix-cls} {
      width: auto !important;
      margin: 10px;
  }
  .vertical-center-modal {
      .#{$modal-prefix-cls} {
          flex: 1;
      }
  }
}

.#{$confirm-prefix-cls} {
  padding: 0 4px;
  &-head {

    &-title {
      display: inline-block;
      font-size: $font-size-base;
      color: $title-color;
      font-weight: 700;
    }
  }

  &-body{
    padding-left: 48px;
    padding-top: 18px;
    font-size: $font-size-small;
    color: $text-color;
    position: relative;

    &-render{
      margin: 0;
      padding: 0;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      & i {
        font-size: 36px;
      }

      &-info {
          color: $primary-color;
      }
      &-success {
          color: $success-color;
      }
      &-warning {
          color: $warning-color;
      }
      &-error {
          color: $error-color;
      }
      &-confirm {
          color: $warning-color;
      }
    }
    & p {
      font-size: $font-size-small;
    }
  }

  &-footer{
    margin-top: 40px;
    text-align: right;

    button + button {
      margin-left: 8px;
      margin-bottom: 0;
    }
  }
}