$schedule-prefix-cls: "#{$css-prefix}schedule";

.#{$schedule-prefix-cls}  {
  position: relative;
  &-header {
    position: relative;
    text-align: center;
    .#{$btn-prefix-cls}-group, .#{$schedule-prefix-cls}-today-btn {
      position: absolute;
      top: 1px;
    }
    .#{$schedule-prefix-cls}-today-btn {
      margin-left: 10px;
      right: 1.5%;
      height: 34px;
    }
    .#{$btn-prefix-cls}-group {
      left: 1.5%;
    }
    .#{$btn-prefix-cls}-group button {
      width: 35px;
      padding-left: 10px;
      padding-right: 10px;
      height: 34px;
    }
    .#{$schedule-prefix-cls}-date-text {
      display: inline-block;
    }
  }
  &-events {
    position: absolute;
    top: 136px;
    left: 0;
    z-index: $zindex-spin;
    width: 97%;
    margin: 1.5%;
    border-left: 1px solid transparent;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    .#{$schedule-prefix-cls}-event-wrapper {
      width: 14.28%;
      height: 75px;
      margin-top: 25px;
      &:nth-child(7n + 1) {
        padding-left: 1px;
      }
      &:nth-child(7n) {
        padding-right: 2px;
      }
      .#{$schedule-prefix-cls}-event-content {
        pointer-events: auto;
        height: 16px;
        margin-bottom: 2px;
        padding-left: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        background: #2e97d0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        &.#{$schedule-prefix-cls}-event-placeholder {
          opacity: 0;
          pointer-events: none;
        }
        &.event-place-start {
          margin-left: 5px;
          border-radius: 3px 0 0 3px;
        }
        &.event-place-end {
          margin-right: 5px;
          border-radius: 0 3px 3px 0;
        }
        &.event-place-start.event-place-end {
          border-radius: 3px;
        }
      }
      .#{$schedule-prefix-cls}-event-more {
        text-align: center;
        i {
          display: inline-block;
          pointer-events: auto;
          width: 18px;
          color: rgba(#000, 0.6);
          transition: color 0.2s;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
    /* 展示更多活动的窗口 */
    .#{$schedule-prefix-cls}-popover {
      position: absolute;
      z-index: $zindex-affix;
      width: 14.28%;
      min-width: 220px;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      color: #444;
      pointer-events: auto;
      &-header {
        line-height: 1.5;
        padding: 0 4px;
        background: #ddd;
        font-size: 12px;
        i.icon-close {
          display: inline-block;
          float: right;
          cursor: pointer;
        }
      }
      &-body {
        padding: 10px 10px 0;
        max-height: 150px;
        overflow: auto;
        &-item {
          background: #2e97d0;
          color: #fff;
          margin-bottom: 2px;
          border-radius: 3px;
          padding: 0 4px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          cursor: pointer;
          &:last-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .#{$calendar-prefix-cls}-today {
    &::before {
      content: "●";
      position: absolute;
      top: 5px;
      left: 6%;
      color: #217af7;
      line-height: 1;
      font-size: 14px;
    } 
  }
  .#{$calendar-prefix-cls}-month-content .#{$calendar-prefix-cls}-month-content-item {
    cursor: default;
    .#{$calendar-prefix-cls}-month-content-item-text {
      position: absolute;
      line-height: 1;
      top: 4px;
      right: 4px;
    }
  }
}