$selecttree-prefix-cls:  "#{$css-prefix}selectTree";

.#{$selecttree-prefix-cls} {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  color: $text-color;
  font-size: $font-size-base;
  line-height: normal;
  position: relative;

  &-selection {
    display: block;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    cursor: pointer;

    background-color: #fff;
    border-radius: $btn-border-radius;
    border: 1px solid $border-color-base;
    transition: all $transition-time $ease-in-out;

    .#{$selecttree-prefix-cls}-arrow:nth-of-type(1) {
      display: none;
      cursor: pointer;
    }

    &:hover {
      @include hover();
      .#{$selecttree-prefix-cls}-arrow:nth-of-type(1) {
          display: inline-block;
      }
    }
  }
  &-show-clear &-selection:hover .#{$selecttree-prefix-cls}-arrow:nth-of-type(2) {
    display: none;
  }
  // &-dropdown-content{
  //     position:relative;
  //     max-height:$max-height;
  //     padding: 5px 0;
  //     overflow:auto;
  // }
  &-dropdown-content {
      padding: 0;
      .h-selectTree-search {
          position: absolute;
          background: #fff;
          height: 30px;
          padding: 5px 5px 0;
          left: 0;
          top: 0;
          z-index: 1;
          input {
            width:100%;
            height: 26px;
            line-height: 26px;
            border: 0;
            padding: 0 5px;
            border-radius: 0;
            border-bottom: 1px solid #D7DDE4; 
          }
          input:focus {
              box-shadow: none;
          }
      }
      .h-selectTree-dropdown-list {
          max-height:$max-height;
          overflow:auto;
          position: relative;
          padding: 0px 5px 0 5px;
      }
  }
  &-arrow {
    @include inner-arrow();
  }

  &-visible{
    .#{$selecttree-prefix-cls}-selection{
        @include active();
    }

    .#{$selecttree-prefix-cls}-arrow:nth-of-type(2) {
        transform: rotate(180deg);
    }
  }

  &-disabled,&-readonly {
    .#{$selecttree-prefix-cls}-selection {
      .#{$selecttree-prefix-cls}-arrow:nth-of-type(2) {
        display: none;
      }

      &:hover {
        border-color: $border-color-base;
        box-shadow: none;

        .#{$selecttree-prefix-cls}-arrow:nth-of-type(1) {
          display: none;
        }
      }
    }
  }
  &-disabled {
    .#{$selecttree-prefix-cls}-selection {
      @include disabled();
    }
  }
  &-readonly {
    .#{$selecttree-prefix-cls}-selection {
      @include readonly();
    }
  }
  &-single &-selection{
    height: $input-height-base;
    position: relative;

    .#{$selecttree-prefix-cls}-placeholder{
      color: $input-placeholder-color;
    }

    .#{$selecttree-prefix-cls}-placeholder, .#{$selecttree-prefix-cls}-selected-value{
      display: block;
      height: $input-height-base - 2px;
      line-height: $input-height-base - 2px;
      font-size: $font-size-small;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 8px;
      padding-right: 24px;
    }
  }

  .#{$selecttree-prefix-cls}-large.#{$selecttree-prefix-cls}-single &-selection{
    height: $input-height-large;

    .#{$selecttree-prefix-cls}-placeholder, .#{$selecttree-prefix-cls}-selected-value{
      height: $input-height-large - 2px;
      line-height: $input-height-large - 2px;
      font-size: $font-size-base;
    }
  }

  .#{$selecttree-prefix-cls}-small.#{$selecttree-prefix-cls}-single &-selection{
    height: $input-height-small;
    border-radius: $btn-border-radius-small;

    .#{$selecttree-prefix-cls}-placeholder, .#{$selecttree-prefix-cls}-selected-value{
      height: $input-height-small - 2px;
      line-height: $input-height-small - 2px;
    }
  }

  &-multiple &-selection{
    overflow: auto;
    -moz-overflow-y: auto; 
    padding-right:30px;
    height: $input-height-base;
    // scrollbar[orient="vertical"] scrollbarbutton {
    // max-height:10px !important; min-height:10px !important;
    // }

    .#{$selecttree-prefix-cls}-placeholder{
      display: block;
      height: $input-height-base - 2px;
      line-height: $input-height-base - 2px;
      color: $input-placeholder-color;
      font-size: $font-size-small;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 4px;
      padding-right: 22px;
    }
  }

  // input
  &-input{
    display: inline-block;
    height: $input-height-base;
    line-height: $input-height-base;
    padding: 0 24px 0 8px;
    font-size: $font-size-small;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: $input-color;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    @include placeholder();
  }

  &-single &-input{
    width: 100%;
  }

  &-large &-input{
    font-size: $font-size-base;
    height: $input-height-large;
  }

  &-small &-input{
      height: $input-height-small;
  }

  &-multiple &-input{
      height: $input-height-base - 3px;
      line-height: $input-height-base;
      padding: 0 0 0 4px;
  }

  &-not-found{
      text-align: center;
      color: $btn-disable-color;
  }

  &-multiple .#{css-prefix}tag{
      margin: 3px 4px 2px 0;
  }
  // select-arrow
  &-single &-selection {
      .#{$selecttree-prefix-cls}-arrow {
          right: 8px!important;
      }
  }
  &-content{
    padding: 5px 0;
    .h-tree{
      margin-left:10px;
    }
  }
}

@include select-item($selecttree-prefix-cls, $select-item-prefix-cls);

.#{$selecttree-prefix-cls}-multiple .#{$select-item-prefix-cls} {
    &-selected{
        color: $selected-color;
        background: #fff;
    }
    &-focus,&-selected:hover{
        background: $background-color-select-hover;
    }

    .#{$select-item-prefix-cls}-selected.#{$select-item-prefix-cls}-focus {
        color: shade($selected-color, 10%);
        background: #fff;
    }
    .#{$checkbox-prefix-cls}-wrap {
        float:right;
    }
    // &-selected:after{
    //     @include h-icon();
    //     float: right;
    //     font-size: 20px;
    //     content: "\e734";
    //     color: $selected-color;
    // }
}

.#{$form-item-prefix-cls}-error{
    .#{$selecttree-prefix-cls}{
        &-selection{
            border: 1px solid $error-color;
        }
        &-arrow{
            color: $error-color;
        }
        &-visible .#{$selecttree-prefix-cls}-selection{
            @include active-error;
        }
    }
}
.#{$editgird-prefix-cls}-cell-error{
    .#{$selecttree-prefix-cls}{
        &-selection{
            border: 1px solid $error-color;
        }
        &-arrow{
            color: $error-color;
        }
        &-visible .#{$selecttree-prefix-cls}-selection{
            @include active-error;
        }
    }
}