$selectBlock-prefix-cls:  "#{$css-prefix}select-block";
.#{$selectBlock-prefix-cls}-drop{
    position: relative;
    max-height: 210px;
    overflow: auto;
    // transform: translate3d(0, 0, 0);
}
.#{$selectBlock-prefix-cls}-show-bottom{
    max-height: 170px;
}
.#{$selectBlock-prefix-cls}-phantom,.#{$selectBlock-prefix-cls}-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.#{$selectBlock-prefix-cls}-phantom{
    z-index: -1;
}

.#{$selectBlock-prefix-cls}-item-header {
  // position: absolute;
  // top: 0;
  height: 30px;
  padding: 0 14px;
  line-height: 30px;
  white-space: nowrap;
  font-size: $font-size-small;
  background: #f7f7f7;
  z-index: 1;
  .item-header {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f7f7f7;
  }
}

.#{$selectBlock-prefix-cls}-item{
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    white-space: nowrap;
    font-size: 0;
    &>span {
      font-size: $font-size-small;
    }
    .itemcol {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}
.#{$selectBlock-prefix-cls}-item:hover{
    background: $background-color-select-hover;
    cursor: pointer;
}

.#{$selectBlock-prefix-cls}{
    &-selected {
      color: $selected-color;
      background: #fff;
    }
    &-selected:hover, &-focus {
      color:$selected-color;
      background: $background-color-select-hover;
    }
}
.#{$selectBlock-prefix-cls}-empty{
    line-height: 30px;
    text-align: center;
}
.#{$selectBlock-prefix-cls}-hideMult .#{$selectBlock-prefix-cls}-item {
    &:after{
        @include h-icon();
        font-size: 22px;
        content: '\E734';
        color: #fff;
        position: absolute;
        top: 3px;
        right: 8px;
    }
    &:hover:after{
        color: $no-select-color;
    }
}
.#{$selectBlock-prefix-cls}-hideMult .#{$selectBlock-prefix-cls}-selected{
    &:after{
        color: $selected-color !important;
    }
}
.#{$selectBlock-prefix-cls}-disabled {
    color: $btn-disable-color;
    cursor: not-allowed;
    &:hover{
        background: transparent;
        cursor: not-allowed;
    }
}
