$steps-prefix-cls: "#{$css-prefix}steps";
$steps-wait-icon-color: #D7DDE4;
$steps-wait-title-color: #495060;
$steps-split-color:#DCE1E7;
$steps-wait-description-color: $steps-wait-title-color;
$steps-wait-tail-color: $steps-split-color;
$steps-title-color: #495060;


.#{$steps-prefix-cls} {
  position:relative;
  font-size: 0;
  width: 100%;
  line-height: 1.5;

  &-item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    &.#{$steps-prefix-cls}-status-wait{
      .#{$steps-prefix-cls}-head-inner {
        background-color: #fff;
        > .#{$steps-prefix-cls}-icon, span {
            color: $steps-wait-icon-color;
        }
      }
      .#{$steps-prefix-cls}-title {
        color: $steps-wait-title-color;
      }
      .#{$steps-prefix-cls}-content {
        color: $steps-wait-description-color;
      }
      .#{$steps-prefix-cls}-tail > i {
        background-color: $steps-wait-tail-color;
      }
    }


    &.#{$steps-prefix-cls}-status-process {
        .#{$steps-prefix-cls}-head-inner {
            border-color: $primary-color;
            background-color: $primary-color;
            > .#{$steps-prefix-cls}-icon, span {
                color: #fff;
                &.#{$steps-prefix-cls}-remark {
                    color: $primary-color;
                }
            }
        }
        .#{$steps-prefix-cls}-title {
            color: $steps-title-color;
            font-weight: bold;
            font-family: MicrosoftYaHei-Bold;
            font-size: 14px; 
            letter-spacing: 0;
            text-align: left;
            line-height: 24px;
        }
        .#{$steps-prefix-cls}-content {
            color: $steps-title-color;
        }
        .#{$steps-prefix-cls}-tail > i {
            background-color: $steps-split-color;
        }
    }


    &.#{$steps-prefix-cls}-status-finish {
        .#{$steps-prefix-cls}-head-inner {
            background-color: #fff;
            border-color: $primary-color;
            > .#{$steps-prefix-cls}-icon, span {
                color: $primary-color;
            }
        }
        .#{$steps-prefix-cls}-tail > i:after {
            width: 100%;
            background: $primary-color;
            transition: all $transition-time $ease-in-out;
            opacity: 1;
        }
        .#{$steps-prefix-cls}-title {
            color: $steps-wait-title-color;
        }
        .#{$steps-prefix-cls}-content {
            color: $steps-wait-description-color;
        }
    }

    &.#{$steps-prefix-cls}-status-error {
        .#{$steps-prefix-cls}-head-inner {
            background-color: #fff;
            border-color: $error-color;
            > .#{$steps-prefix-cls}-icon {
                color: $error-color;
            }
        }
        .#{$steps-prefix-cls}-title {
            color: $error-color;
            font-weight: bold;
        }
        .#{$steps-prefix-cls}-content {
            color: $error-color;
        }
        .#{$steps-prefix-cls}-tail > i {
            background-color: $steps-split-color;
        }
    }

    &.#{$steps-prefix-cls}-next-error {
        .#{$steps-prefix-cls}-tail > i,
        .#{$steps-prefix-cls}-tail > i:after {
            background-color: $error-color;
        }
    }

    &.#{$steps-prefix-cls}-custom {
        .#{$steps-prefix-cls}-head-inner {
            background: none;
            border: 0;
            width: auto;
            height: auto;
            text-align: left;
            > .#{$steps-prefix-cls}-icon {
                left: 0;
                font-size: 20px;
                top: 2px;
                width: 20px;
                height: 20px;
            }
        }
        &.#{$steps-prefix-cls}-status-process {
            .#{$steps-prefix-cls}-head-inner > .#{$steps-prefix-cls}-icon {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
  }

  &-item:last-child &-tail{
      display: none;
  }

  .#{$steps-prefix-cls}-head,
  .#{$steps-prefix-cls}-main {
      position: relative;
      // display: inline-block;
      vertical-align: top;
  }
  .#{$steps-prefix-cls}-head {
      // background: #fff;
  }
  .#{$steps-prefix-cls}-head-inner {
      display: block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      margin-right: 8px;
      text-align: center;
      border: 1px solid $steps-wait-icon-color;
      border-radius: 50%;
      font-size: 14px;
      transition: background-color $transition-time $ease-in-out;
      position: relative;
      > .#{$steps-prefix-cls}-icon {
          font-size: 18px;
          line-height: 24px;
          position: relative;
        &.#{$steps-prefix-cls}-remark {
            position: absolute;
            right: -12px;
            top: -12px;
            font-size: 12px;
        }
        &.h-icon {
            font-size: 24px;
            &-ios-checkmark-empty,
            &-ios-close-empty {
                font-weight: bold;
            }
        }
      }
  }
  .#{$steps-prefix-cls}-main {
    margin-top: 5px;
      // display: inline;
      .#{$steps-prefix-cls}-content {
        font-family: 'Microsoft YaHei';
        font-size: 12px;
        color: #7E828A;
        text-align: left;
        line-height: 20px;
      }
  }
  .#{$steps-prefix-cls}-custom .#{$steps-prefix-cls}-title{
      margin-top: 3px;
  }

  .#{$steps-prefix-cls}-title {
      display: inline-block;
      margin-bottom: 4px;
      padding-right: 10px;
      font-size: 14px;
    //   font-weight: bold;
      color: #666;
      // background: #fff;

      > a:first-child:last-child {
          color: #666;
      }
  }
  .#{$steps-prefix-cls}-item-last {
      .#{$steps-prefix-cls}-title {
          padding-right: 0;
          width: 100%;
      }
  }
  // .#{$steps-prefix-cls}-content {
  //     font-size: 12px;
  //     color: #999;
  //     padding-left: 35px;
  // }
  .#{$steps-prefix-cls}-tail {
      width: 100%;
      padding: 0 10px;
      position: absolute;
      left: 0;
      top: 13px;
      > i {
          display: inline-block;
          width: 100%;
          height: 1px;
          vertical-align: top;
          background: $steps-split-color;
          border-radius: 1px;
          position: relative;
          &:after {
              content: '';
              width: 0;
              height: 100%;
              background: $steps-split-color;
              opacity: 0;
              position: absolute;
              top: 0;
          }
      }
  }

  &.#{$steps-prefix-cls}-small {
      .#{$steps-prefix-cls}-head-inner {
          width: 24px;
          height: 24px;
          line-height: 22px;
          margin-right: 10px;
          text-align: center;
          border-radius: 50%;
          font-size: 12px;

          > .#{$steps-prefix-cls}-icon {
              top: 0;
              font-size: 14px;
              line-height: 18px;
          }
      }
      .#{$steps-prefix-cls}-main {
      }
      .#{$steps-prefix-cls}-title {
          margin-bottom: 4px;
          margin-top: 0;
          color: #666;
          font-size: 12px;
          font-weight: bold;
      }
      .#{$steps-prefix-cls}-content {
          font-size: 12px;
          color: #999;
          padding-left: 30px;
      }
      .#{$steps-prefix-cls}-tail {
          top: 8px;
          padding: 0 8px;
          > i {
              height: 1px;
              width: 100%;
              border-radius: 1px;
          }
      }
      .#{$steps-prefix-cls}-status-finish,
      .#{$steps-prefix-cls}-status-wait {
        .#{$steps-prefix-cls}-title {
            color: $steps-wait-title-color;
        }
      }
  }

  &.#{$steps-prefix-cls}-small .#{$steps-prefix-cls}-item.#{$steps-prefix-cls}-custom .#{$steps-prefix-cls}-head-inner,
  .#{$steps-prefix-cls}-item.#{$steps-prefix-cls}-custom .#{$steps-prefix-cls}-head-inner {
      width: inherit;
      height: inherit;
      line-height: inherit;
      border-radius: 0;
      border: 0;
      background: none;
  }
}

.#{$steps-prefix-cls}-vertical {
  .#{$steps-prefix-cls}-item {
      display: block;
  }

  .#{$steps-prefix-cls}-tail {
      position: absolute;
      left: 13px;
      top: 0;
      height: 100%;
      width: 1px;
      padding: 30px 0 4px 0;
      > i {
          height: 100%;
          width: 1px;
          &:after {
              height: 0;
              width: 100%;
          }
      }
  }

  .#{$steps-prefix-cls}-status-finish {
      .#{$steps-prefix-cls}-tail > i:after {
          height: 100%;
      }
  }

  .#{$steps-prefix-cls}-head {
      float: left;
      &-inner {
          margin-right: 16px;
      }
  }

  .#{$steps-prefix-cls}-main {
      margin-top: 0px;
      min-height: 47px;
      overflow: hidden;
      display: block;
      .#{$steps-prefix-cls}-title {
          line-height: 26px;
      }
      .#{$steps-prefix-cls}-content {
          padding-bottom: 12px;
          padding-left: 0;
      }
  }

  .#{$steps-prefix-cls}-custom .#{$steps-prefix-cls}-icon {
      left: 4px;
  }
  &.#{$steps-prefix-cls}-small .#{$steps-prefix-cls}-custom .#{$steps-prefix-cls}-icon {
      left: 0;
  }
}

.#{$steps-prefix-cls}-vertical.#{$steps-prefix-cls}-small {
  .#{$steps-prefix-cls}-tail {
      position: absolute;
      left: 9px;
      top: 0;
      padding: 22px 0 4px 0;
      > i {
          height: 100%;
      }
  }

  .#{$steps-prefix-cls}-title {
      line-height: 18px;
  }
}

