$table-prefix-cls: "#{$css-prefix}table";
$table-select-item-prefix-cls: "#{$table-prefix-cls}-filter-select-item";

.#{$table-prefix-cls} {
  &-phantom{
    position: absolute;
     left: 0;
     top: 0;
     right: 0;
     z-index: -1;
  }
  &-wrapper{
    position: relative;
    border: 1px solid $border-color-base;
    border-bottom: 0;
    border-right: 0;
  }
  width: inherit;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $text-color;
  font-size: $font-size-small;
  background-color: #fff;

  box-sizing: border-box;
  //position: relative;

  &-hide{
    opacity: 0;
  }

  &:before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $border-color-base;
    z-index: 1;
  }

  &:after{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $border-color-base;
    z-index: 3;
  }

  &-with-header{
    //border-radius: $border-radius-base $border-radius-base 0 0;
  }

  &-with-footer{
    //border: 1px solid $border-color-base;
    //border-radius: 0 0 $border-radius-base $border-radius-base;
  }

  &-with-header.#{$table-prefix-cls}-with-footer{
    //border-radius: $border-radius-base;
  }

  &-title, &-footer{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid $border-color-bottom;
  }
  &-footer{
    border-bottom: none;
  }

  &-header{
    // width: 100%;
    overflow: hidden;
  }
  &-body{
    overflow: auto;
    //position: relative;
  }

  &-with-fixed-top.#{$table-prefix-cls}-with-footer{
    .#{$table-prefix-cls}-footer{
      border-top: 1px solid $border-color-base;
    }
    tbody tr:last-child td{
      border-bottom: none;
    }
  }

  th, td
  {
    min-width: 0;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    // text-overflow: ellipsis;
    vertical-align: middle;
    //position: relative;
    border-bottom: 1px solid $border-color-bottom;
  }

  th {
    height: 42px;
    // white-space: nowrap;
    overflow: hidden;
    background-color: $table-thead-bg;
    font-size: $font-size-base;
  }
  td{
    background-color: #fff;
    transition: background-color $transition-time $ease-in-out;
  }

  th.#{$table-prefix-cls}-head-column,
  td.#{$table-prefix-cls}-body-column
  {
    &-left{
        text-align: left;
    }
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
  }
  th.#{$table-prefix-cls}-column,
  td.#{$table-prefix-cls}-column,{
    &-left{
        text-align: left;
    }
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
  }
  & table{
    //width: 100%;
    table-layout: fixed;
  }
  &-border{
    th,td{
        border-right: 1px solid $border-color-bottom;
    }
  }
  &-cell{
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    // text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;

    &-ellipsis {
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-with-expand{
      height: 39px;
      line-height: 39px;
      padding: 0;
      text-align: center;
    }
    &-expand{
      cursor: pointer;
      transition: transform $transition-time $ease-in-out;
      i{
        font-size: $font-size-base;
      }
      &-expanded{
        transform: rotate(90deg);
      }
    }
    input[type="checkbox"]{
      border: 1px solid $border-color-base;
      border-radius: 2px;
      background-color: #fff;
      width: 16px;
      height: 16px;
      &:after{
          width: 5px;
          height: 9px;
      }
    }
  }
  &-hidden{
    visibility: hidden;
  }
  th &-cell{
    // display: inline-block;
    //position: relative;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  &-stripe &-body,
  &-stripe &-fixed-body
  {
    tr:nth-child(2n) {
      td{
          background-color: $table-td-group-line-bg;
      }
    }
    tr.#{$table-prefix-cls}-row-hover{
      td{
        background-color: $table-td-hover-bg;
      }
    }
  }

  tr.#{$table-prefix-cls}-row-hover{
    td{
      background-color: $table-td-hover-bg;
    }
  }
  &-large {
    font-size: $font-size-base;
    th{
      height: 48px;
    }
    td{
      height: 45px;
    }
    &-title, &-footer{
      height: 50px;
      line-height: 50px;
    }
    .#{$table-prefix-cls}-tiptext{
      height: 45px;
      line-height:45px;
    }
  }

  &-small{
    th{
      height: 35px;
    }
    td{
      height: 32px;
    }
    &-title, &-footer{
      height: 35px;
      line-height: 35px;
    }
    .#{$table-prefix-cls}-tiptext{
      height: 35px;
      line-height:35px;
    }
  }
  // &-row-checked{
  //   td{
  //     background-color: $table-td-selected-bg;
  //   }
  // }
  &-row-highlight,&-row-checked,
  tr.#{$table-prefix-cls}-row-highlight.#{$table-prefix-cls}-row-hover,
  tr.#{$table-prefix-cls}-row-checked.#{$table-prefix-cls}-row-hover,
  &-stripe &-body tr.#{$table-prefix-cls}-row-highlight:nth-child(2n),
  &-stripe &-fixed-body tr.#{$table-prefix-cls}-row-highlight:nth-child(2n),
  &-stripe &-body tr.#{$table-prefix-cls}-row-checked:nth-child(2n),
  &-stripe &-fixed-body tr.#{$table-prefix-cls}-row-checked:nth-child(2n)
  {
    td{
      background-color: $table-td-highlight-bg;
    }
  }
  &-row-filterable{
    td{
      color: darken($error-color, 10%);
    }
  }

  &-fixed, &-fixed-right{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
    border-bottom:none;

    // &::before {
    //   content: '';
    //   width: 100%;
    //   height: 1px;
    //   background-color: $border-color-base;
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   z-index: 4;
    // }
  }
  &-fixed-right{
    top: 0;
    left: auto;
    right: 0;
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
  }
  &-fixed-right-patch{
    position: absolute;
    top: 0;
    right: 0;
    background-color: $table-thead-bg;
    border-bottom:1px solid $border-color-bottom;
    // border-bottom: 1px solid #e6ebf5;
  }
  &-fixed-header{
    overflow: hidden;
  }
  &-fixed-body{
    overflow: hidden;
    position: relative;
    z-index: 3;
  }

  &-fixed-shadow {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: $shadow-right;
    overflow: hidden;
    z-index: 1;
  }

  &-sort{
    @include sortable();
  }
  &-filter{
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:2px;
    i{
      color: $btn-disable-color;
      transition: color $transition-time $ease-in-out;
      &:hover{
        color: inherit;
      }
      &.on{
         color: $primary-color;
      }
    }
    &-list{
      padding: 8px 0 0;
      &-item{
          padding: 0 12px 8px;

          .h-checkbox-wrapper + .h-checkbox-wrapper{
              margin: 0;
          }
          label {
              display: block;
              margin-bottom: 4px;

              & > span{
                  margin-right: 4px;
              }
          }
      }
      ul{
          padding-bottom: 8px;
      }
      @include select-item($table-prefix-cls, $table-select-item-prefix-cls);
    }
    &-footer{
      padding: 4px;
      border-top: 1px solid $border-color-split;
    }
  }
  .h-poptip-popper{
      min-width: 0;
      text-align: left;
  }
  thead .h-poptip-popper{
    .h-poptip-body{
        padding: 0;
        // position:absolute
    }
  }

  &-tip {
    overflow:auto;
    table {
      width: 100%;

      td {
        text-align: center;
      }
    }
  }
  &-tiptext {
    position:absolute;
    text-align:center;
    height: 40px;
    line-height:40px;
  }
  &__column-resize-proxy{
    position:absolute;
    top: 0;
    bottom:0;
    width: 0;
    border-left:1px solid $border-color-base;
    z-index: 10;
  }
  &__column-move-proxy{
    position:absolute;
    z-index: 10;
  }
}
.move-proxy-th{
  border:1px solid $border-color-base;
}
.h-simple-view{
  position:relative;
}
.h-simple-content{
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
}
.useSelect{
  -ms-user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
