$tabs-prefix-cls: "#{$css-prefix}tabs";

.#{$tabs-prefix-cls} {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: $text-color;
  @include clearfix();

  &-bar {
    outline: none;
  }

  &-ink-bar {
    height: 2px;
    box-sizing: border-box;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: 1;
    transition: transform .3s $ease-in-out;
    transform-origin: 0 0;
  }

  &-bar {
    border-bottom: 1px solid $border-color-base;
    margin-bottom: 16px;
  }
  &-bar-top{
    border-top: 1px solid $border-color-base;
    margin-bottom: 16px;
    // margin-top: -1px;
  }
  &-nav-container {
    margin-bottom: -1px;
    line-height: $line-height-base;
    font-size: $font-size-base;
    box-sizing: border-box;
    white-space: nowrap;
    // overflow: hidden;
    position: relative;
    @include clearfix();
  }

  &-nav-container-scrolling {
    padding-left: 32px;
    padding-right: 32px;
  }
  &-return{
    float: left;
    height: 100%;
    padding: 6px 5px 0 0;
  }
  &-enter{
    float: right;
    height: 100%;
    padding: 6px 5px 0 0; 
  }
  &-return,&-enter:hover{
    cursor: pointer;
    i{
      color:$primary-color;
    }
  }
  &-nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
  }
  &-nav-wrap-width{
    width: calc(100% - 42px);
  }

  &-nav-scroll {
    position:relative;
    white-space: nowrap;
  }

  &-nav-right{
    float: right;
  }

  &-nav {
    position:absolute;
    right: 0;
    padding-left: 0;
    // margin: 0;
    // float: left;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.5s $ease-in-out;

    &:before,
    &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    .#{$tabs-prefix-cls}-tab-disabled {
      pointer-events: none;
      cursor: default;
      color: #ccc;
    }

    .#{$tabs-prefix-cls}-tab {
      display: inline-block;
      height: 100%;
      padding: 8px 16px;
      margin-right: 16px;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;
      position: relative;
      transition: color .3s $ease-in-out;

      &:hover {
          color: $link-hover-color;
      }

      &:active {
          color: $link-active-color;
      }
      .#{$css-prefix-iconfont} {
          width: 14px;
          height: 14px;
          margin-right: 8px;
      }
      i{
        font-size: 14px;
      }
    }

    .#{$tabs-prefix-cls}-tab-active {
      color: $primary-color;
    }
  }
  &-mini &-nav-container {
    font-size: $font-size-base;
  }

  &-mini &-tab {
    margin-right: 0;
    padding: 8px 16px;
    font-size: $font-size-small;
  }

  & {
    .#{$tabs-prefix-cls}-content-animated {
      display: flex;
      flex-direction: row;
      will-change: transform;
      transition: transform .3s $ease-in-out;
    }

    .#{$tabs-prefix-cls}-tabpane {
      flex-shrink: 0;
      width: 100%;
      transition: opacity .3s;
      opacity: 1;
    }

    .#{$tabs-prefix-cls}-tabpane-inactive {
      opacity: 0;
      height: 0;
    }
  }

  // card style
  &.#{$tabs-prefix-cls}-card > &-bar &-nav-container,&.#{$tabs-prefix-cls}-card-top > &-bar-top &-nav-container {
      height: 32px;
  }
  &.#{$tabs-prefix-cls}-card-top > &-bar-top &-nav-container {
    margin-top:-1px;
    margin-bottom: 0px;
  }
  &.#{$tabs-prefix-cls}-card > &-bar &-ink-bar,&.#{$tabs-prefix-cls}-card-top > &-bar-top &-ink-bar {
      visibility: hidden;
  }
  &.#{$tabs-prefix-cls}-card > &-bar &-tab, &.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab{
      margin: 0;
      margin-right: 4px;
      height: 31px;
      padding: 5px 16px 4px;
      border: 1px solid $border-color-base;
      border-bottom: 0;
      border-radius: $btn-border-radius $btn-border-radius 0 0;
      transition: all 0.3s $ease-in-out;
      background: $table-thead-bg;
  }
  &.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab{
    border-bottom: 1px solid $border-color-base;
    border-radius: 0 0 $btn-border-radius $btn-border-radius;
  }
  &.#{$tabs-prefix-cls}-card > &-bar &-tab-active {
      height: 32px;
      padding-bottom: 5px;
      background: #fff;
      transform: translateZ(0);
      border-color: $border-color-base;
      color: $primary-color;
  }
  &.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab-active{
    height: 32px;
    padding-bottom: 5px;
    background: #fff;
    transform: translateZ(0);
    border-color: $border-color-base;
    color: $primary-color;
    border-top:1px solid transparent;
  }
  &.#{$tabs-prefix-cls}-card > &-bar &-nav-wrap {
      margin-bottom: 0;
  }
  &.#{$tabs-prefix-cls}-card > &-bar &-tab .#{$css-prefix-iconfont}-ios-close-empty,&.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab .#{$css-prefix-iconfont}-ios-close-empty {
      width: 0;
      height: 22px;
      font-size: 22px;
      margin-right: 0;
      color: $legend-color;
      text-align: right;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      top: -1px;
      transform-origin: 100% 50%;
      transition: all 0.3s $ease-in-out;
      &:hover {
        color: #444;
      }
  }

  &.#{$tabs-prefix-cls}-card > &-bar &-tab-active .#{$css-prefix-iconfont}-ios-close-empty,
  &.#{$tabs-prefix-cls}-card > &-bar &-tab:hover .#{$css-prefix-iconfont}-ios-close-empty,
  &.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab-active .#{$css-prefix-iconfont}-ios-close-empty,
  &.#{$tabs-prefix-cls}-card-top > &-bar-top &-tab:hover .#{$css-prefix-iconfont}-ios-close-empty {
    ssform: translateZ(0);
  }
  &-panel-right{
    width:100%;
    .#{$tabs-prefix-cls}-content-animated {
      display: flex;
      flex-direction: column;
      will-change: transform;
      transition: transform .3s $ease-in-out;
    }
  }
  &-bar-right{
    float:left;
  }
  &-content-right{
    float:left;
    border-left:1px solid $border-color-base;
    .h-tabs-tabpane{
      padding:10px 20px;
    }
  }
  &-nav-right{
    padding-top:10px 0px;
    padding-right:15px;
    width:100%;
    .h-tabs-tab{
      width:100%;
      height:36px;
      line-height:36px;
      text-align:right;
      position:relative;
      padding: 0 10px;
      i{
        color:transparent;
        position: absolute;
        right:0px;
        margin-right:-9px;
      }
    }
    .h-tabs-tab-alginleft{
      text-align:left;
    }
    .h-tabs-tab:hover{
      background:$border-color-base;
      cursor:pointer;
      i{
        color:$border-color-base;
      }
    }
    .h-tabs-tab-active{
      background:$primary-color;
      color:#fff;
      font-weight:bold;
      i{
        color:$primary-color;
      }
    }
    .h-tabs-tab-active:hover{
      background:$primary-color;
      i{
        color:$primary-color;
      }
    }
  }
}

.#{$tabs-prefix-cls}-no-animation{
  > .#{$tabs-prefix-cls}-content {
    transform: none!important;

    > .#{$tabs-prefix-cls}-tabpane-inactive {
      display: none;
    }
  }
}