$timeline-prefix-cls: "#{$css-prefix}timeline";
$timeline-color: #DCE1E7;

.#{$timeline-prefix-cls} {
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    margin: 0 !important;
    padding: 0 0 12px 0;
    list-style: none;
    position: relative;

    &-tail {
      height: 100%;
      border-left: 2px solid $timeline-color;
      position: absolute;
      left: 4px;
      top: 2px;
    }

    &-pending &-tail {
      display: none;
    }

    &-head {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      top:2px;
      border: 2px solid transparent;
      position: absolute;

      &-blue {
        border-color: $primary-color;
        color: $primary-color;
      }
      &-red {
        border-color: $error-color;
        color: $error-color;
      }
      &-green {
        border-color: $success-color;
        color: $success-color;
      }
    }

    &-head-custom {
      width: 40px;
      height: auto;
      margin-top: 6px;
      padding: 3px 0;
      text-align: center;
      line-height: 1;
      border: 0;
      border-radius: 0;
      font-size: $font-size-base;
      position: absolute;
      left: -13px;
      transform: translateY(-50%);
      & i.icon-jiangbei {
        font-size: 12px;
      }
    }

    &-content {
      padding: 1px 1px 10px 24px;
      font-size: $font-size-small;
      position: relative;
      top: -3px;
    }

    &:last-child {
      .#{$timeline-prefix-cls}-item-tail {
        display: none;
      }
    }
  }
  // :last-of-type 选择器匹配属于其父元素的特定类型的最后一个子元素的每个元素。
  &.#{$timeline-prefix-cls}-pending &-item:nth-last-of-type(2) {
    .#{$timeline-prefix-cls}-item-tail {
      border-left: 2px dotted $timeline-color;
    }
    .#{$timeline-prefix-cls}-item-content {
      min-height: 48px;
    }
  }
}
