$transfer-prefix-cls: "#{$css-prefix}transfer-table";
$transfer-item-prefix-cls: "#{$css-prefix}transfer-table-list-content-item";

.#{$transfer-prefix-cls} {
  position: relative;
  line-height: $line-height-base;

  &-list{
    display: inline-block;
    // height: $max-height;
    font-size: $font-size-small;
    vertical-align: middle;
    position: relative;

    &-with-footer{
      // padding-bottom: 35px;
    }
    &-header {
      padding: 8px 16px;
      background: $head-bg;
      color: $text-color;
      border: 1px solid $border-color-base;
      border-bottom: 1px solid $border-color-split;
      border-radius: $border-radius-base $border-radius-base 0 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;

      &-title{
        cursor: pointer;
      }

      & > span{
        padding-left: 4px;
      }

      &-count {
        margin: 0 !important;
        float: right;
      }
    }

    &-body{
      border-top: none;
      border-radius: 0 0 $border-radius-base $border-radius-base;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &-with-search{
          padding-top: 34px;
      }
      &-with-footer{
          border-radius: 0;
      }
    }

    &-content{
      // height: 100%;
      // overflow: auto;
      height:auto;

      &-item{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        & > span{
          padding-left: 4px;
        }
      }

      &-not-found{
        display: none;
        text-align: center;
        color: $btn-disable-color;
      }
      &-not-found:only-child{
        display: block;
      }
    }
    &-data-not-found {
      text-align: center;
      color: $btn-disable-color;
    }
    &-body-with-search &-content{
        padding: 6px 0 0;
    }

    &-body-search-wrapper{
      padding: 8px 8px 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: none;
      border-top: none;
      border: 1px solid $border-color-base;
    }

    &-search{
      position: relative;
    }

    &-footer{
      border: 1px solid $border-color-base;
      padding: 3px 0;
      border-top: none;
      border-radius: 0 0 $border-radius-base $border-radius-base;
      bottom: 0;
      left: 0;
      right: 0;
      // min-height: 35px;
      @include clearfix();
    }
  }
  &-list-with-title{
    padding-top: 35px;
  }
  &-operation {
    display: inline-block;
    overflow: hidden;
    margin: 0 16px;
    vertical-align: middle;

    .#{$btn-prefix-cls} {
      display: block;
      min-width: $btn-circle-size-small;

      & {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@include select-item($transfer-prefix-cls, $transfer-item-prefix-cls);

.#{$transfer-item-prefix-cls}:hover {
    background: transparent;
}
.sortable-parent li:hover {
  background: transparent;
}
.sortable-chosen {
  background: #fff!important;
}

.sortable-ghost {
  background: #f3f3f3!important;
}



