$tree-prefix-cls: "#{$css-prefix}tree";
.#{$tree-prefix-cls} {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: $font-size-small;
    li {
      list-style: none;
      margin: 8px 0;
      padding: 0;
      white-space: nowrap;
      outline: none;
      user-select:none;

      i {
        font-size: 13px;
      }
    }
  }
  li {
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
  }
  &-title {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    border-radius: $btn-border-radius-small;
    cursor: pointer;
    vertical-align: top;
    color: $text-color;
    transition: all $transition-time $ease-in-out;
    &:hover {
      background-color: lighten($primary-color, 50%);
    }
    &-selected,
    &-selected:hover {
      background-color: lighten($primary-color, 40%);
    }
    &-filterable{
      color: darken($error-color, 10%);
    }
  }
  &-arrow {
    cursor: pointer;
    width: 12px;
    text-align: center;
    display: inline-block;
    i {
      display: inline-block;
      transition: all $transition-time $ease-in-out;
    }
    &-open {
      i {
        transform: rotate(90deg);
      }
    }
    &-hidden {
      cursor: auto;
      i {
        display: none;
      }
    }
    &-disabled {
      cursor: $cursor-disabled;
    }
  }
}