$typefieldRange-prefix-cls: "#{$css-prefix}typefield-range" ;
.#{$typefieldRange-prefix-cls}{
  position: relative;
  border:1px solid #d7dde4;
  border-radius:4px;
  height: $form-component-height;

  &-inner{
    width: calc(50% - 10px);
    float: left;
    .#{$typefield-prefix-cls} input{
      height: 30px;
      line-height: 30px;
      border: none;
    }
    .h-typefield{
      height: 31px;
    }
  }
  &-inner.split{
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  &-disabled{
    input[disabled], {
      @include disabled();
    }
  }
  &-readonly{
    input[readonly] {
      // background: $input-readonly-bg;
      @include readonly();
    }
  }
  &-content {
    position: relative;
    // line-height: 31px;
    // margin-top:34px;
    font-size: $font-size-small;
    .verify-tip.verify-bottom{
      margin-top: 33px;
    }
  }
  &-error{
    border-color: $error-color;
  }
}

.#{$form-item-prefix-cls}-error{
  .#{$typefieldRange-prefix-cls}{
    border:1px solid $error-color;
  }
}

.#{$editgird-prefix-cls}-cell-error{
    .#{$typefieldRange-prefix-cls}{
      border:1px solid $error-color;
    }
}